* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    border: 1rem;
    padding: 1.5rem;
    margin: 0 auto;
}

.happy {
    color: white;
    background-color: #0d3e75;
    border: 1rem;
    padding: 1.5rem;
}

h2 {
    border: 1rem;
    padding: 1.5rem; 
}
.exempt {
    align-self: stretch;
    display: flex; /* or inline-flex */
    flex-direction: row;
    border: .5rem;
    padding: 1rem;
    background: #f0edee;
    width: 100%;
  }
#container {
    display: flex; /* or inline-flex */
    flex-direction: row;
    justify-content: flex-start, flex-end, center, space-between, space-around, space-evenly;
    border: 1rem;
    padding: 1rem;
    background: #f0edee;
    width: 100%;
  }
  .menu {
      width: 12%;
      border: none;
  }
#doggies {
    display: flex; /* or inline-flex */
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start, flex-end, center, space-between, space-around, space-evenly;
}

 .people {
    -webkit-filter: opacity(.5);
    filter: opacity(.5);
    display: flex; /* or inline-flex */
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start, flex-end, center, space-between, space-around, space-evenly;
    }

img {
    width: 200px;
    display: flex; /* or inline-flex */
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start, flex-end, center, space-between, space-around, space-evenly;
}
